<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1>This is order introduction</h1>
        <p>This is order!</p>
    </div>

    <form [formGroup]="orderForm">
        <div class="row">
            <div class="col-md-6">
                <h2 class="product-header">Thông tin người nhận</h2>

                <div class="mb-3">
                    <label for="fullname" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" id="fullname" formControlName="fullname"
                        placeholder="Họ và tên" required
                        [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched">
                    <div *ngIf="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched"
                        class="invalid-feedback">
                        Họ và tên là trường bắt buộc.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email"
                        required
                        [class.is-invalid]="orderForm.get('email')!.invalid && orderForm.get('email')!.touched">
                    <div *ngIf="orderForm.get('email')!.invalid && orderForm.get('email')!.touched"
                        class="invalid-feedback">
                        {{ orderForm.get('email')!.hasError('email') ? 'Email không hợp lệ' : 'Email là trường bắt buộc'
                        }}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Số Điện Thoại</label>
                    <input type="text" class="form-control" id="phone" formControlName="phone_number"
                        placeholder="Số điện thoại" required
                        [class.is-invalid]="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched">
                    <div *ngIf="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched"
                        class="invalid-feedback">
                        Số điện thoại là trường bắt buộc và ít nhất 6 ký tự.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">Địa Chỉ</label>
                    <input type="text" class="form-control" id="address" formControlName="address" placeholder="Địa chỉ"
                        required
                        [class.is-invalid]="orderForm.get('address')!.invalid && orderForm.get('address')!.touched">
                    <div *ngIf="orderForm.get('address')!.invalid && orderForm.get('address')!.touched"
                        class="invalid-feedback">
                        Địa chỉ là trường bắt buộc và ít nhất 5 ký tự.
                    </div>
                </div>


                <div class="mb-3">
                    <label for="note" class="form-label">Ghi Chú</label>
                    <input type="text" class="form-control" id="note" formControlName="note" placeholder="Ghi chú">
                </div>

                <div class="form-group mb-3">
                    <label for="shippingMethod">Phương thức vận chuyển</label>
                    <select class="form-control" id="shippingMethod" formControlName="shipping_method">
                        <option value="express">Nhanh (Express)</option>
                        <option value="normal">Thường (Normal)</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="paymentMethod">Phương thức thanh toán</label>
                    <select class="form-control" id="paymentMethod" formControlName="payment_method">
                        <option value="cod">Thanh toán khi nhận hàng (COD)</option>
                        <option value="other">Thanh toán khác</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <h2 class="product-header">Thông tin sản phẩm đã đặt hàng</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-start">Sản Phẩm</th>
                            <th scope="col">Số Lượng</th>
                            <th scope="col">Đơn Giá (₫)</th>
                            <th scope="col">Tổng Giá (₫)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of cartItems; let i = index">
                            <tr>
                                <td>
                                    <div class="product-info">
                                        <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
                                        <span class="product-name">{{ item.product.name }}</span>
                                    </div>
                                </td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.product.price | number:'1.2-2' }}</td>
                                <td>{{ (item.product.price * item.quantity) | number:'1.2-2' }}</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" type="button"
                                        (click)="removeFromCart(i)">Xóa</button>
                                </td>
                            </tr>
                        </ng-container>
                        <tr>
                            <td colspan="3" class="text-end">
                                <h5>Tổng giá:</h5>
                            </td>
                            <td>{{ totalAmount | number:'1.2-2' }}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- <div class="text-start mt-3">
                    <h4 class="header-text">Tổng giá: {{ totalAmount | number:'1.2-2' }}</h4>
                </div> -->

                <h4 class="product-header mt-3">Nhập coupon</h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập coupon" name="couponCode">
                    <button class="btn btn-gradient" type="button" (click)="applyCoupon()">Áp dụng</button>
                </div>

                <div class="text-start mt-3">
                    <button class="btn btn-gradient btn-order" type="button" (click)="placeOrder()">Đặt hàng</button>
                </div>
            </div>
        </div>
    </form>
</div>

<app-footer></app-footer>