<div class="container-fluid">
  <header class="header bg-success text-white d-flex align-items-center justify-content-between">
    <h1 class="header-title mx-auto">FlowArt Management</h1>
    <button class="btn btn-danger btn-sm" (click)="logout()">Logout</button>
  </header>
  <div class="row">
    <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="orders">
              <i class="fab fa-first-order icon"></i> Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="categories">
              <i class="fab fa-canadian-maple-leaf icon"></i> Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">
              <i class="fab fa-codepen icon"></i> Products
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-10 col-lg-10 overflow-auto">
      <router-outlet></router-outlet> <!-- Đảm bảo rằng bạn có đoạn này -->
    </div>
  </div>
</div>